@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: 'Sunroll';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/Sunroll.ttf')
}
body {
  font-family: 'Times New Roman';
  text-align: center;
}
.header-grid-template {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5fr repeat(3, 1fr);
  border-bottom: solid 1px gray;
  background-color: #edede9;
}
.home-link {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 8px;
}
h1 {
    font-size: 18px;
    font-family: 'Sunroll';
}
.openbook-logo {
  grid-column: 2;
  grid-row: 1;
  width: 40px;
}
.search-links{
  display: flex;
}
.fiction-dd {
  justify-content: right;
  color: black;
}