body {
  font-family: 'Times New Roman';
}
.header-grid-template {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr repeat(3, 1fr);
  border-bottom: solid 1px gray;
}
.h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  text-align: center;
}
.openbook-logo {
  grid-column: 2;
  grid-row: 1;
  width: 40px;
  padding-top: 5px;
}
.search-link {
  grid-column: 3;
  grid-row: 1;
  font-size: 15px;
  padding-top: 5px;
}
.discover-link {
  grid-column: 4;
  grid-row: 1;
  font-size: 15px;
  padding-top: 5px;
}