body {
  font-family: 'Times New Roman';
  text-align: center;
}
.header-grid-template {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr repeat(3, 1fr);
  border-bottom: solid 1px gray;
}
.h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  text-align: center;
}
.openbook-logo {
  grid-column: 2;
  grid-row: 1;
  width: 40px;
  padding-top: 5px;
}
.search-link {
  grid-column: 3;
  grid-row: 1;
  font-size: 15px;
  padding-top: 5px;
}
.discover-link {
  grid-column: 4;
  grid-row: 1;
  font-size: 15px;
  padding-top: 5px;
}
.discover-container {
  margin-bottom: 50px;
  margin-top: 50px;
}
.selected-book-list-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;
}
.selected-book-container {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  text-align: center;
  font-size: 10px;
}
.selected-book-img {
  width: 150px;
}
.selected-book-title {
  width: 150px;
}